In [ ]:
#!pip install pycaret

## Load Data

In [75]:
import pandas  as pd
from pycaret.regression import  *

df = pd.read_excel('TG_T_CashValues_Rel.xlsx')
df.head()

  Gender  Age  Dur        PPV
0   Male    0   20  15.198437
1   Male    0   21  15.741015
2   Male    0   22  16.267189
3   Male    0   23  16.777448
4   Male    0   24  17.272269

## Init Setup
This step initializes the environment by preprocessing the dataset, automatically handling missing values, encoding categorical features, scaling numeric features, and splitting the data into training and testing sets, ensuring the data is ready for machine learning model training.

In [76]:
#s = setup(df, target='PPV', train_size=0.8, session_id=100)
s = setup(df, target='PPV', train_size=0.8, session_id=100, 
          numeric_features=['Age', 'Dur'], 
          categorical_features=['Gender'])

## Compare Models 
The compare_models() function compares multiple models based on performance metrics, selecting the best model

In [77]:
best_model  = compare_models()
print(best_model )

c:\Users\H.P\anaconda3\Lib\site-packages\pycaret\internal\pycaret_experiment\supervised_experiment.py:339: FutureWarning:

Styler.applymap has been deprecated. Use Styler.map instead.

ExtraTreesRegressor(n_jobs=-1, random_state=100)

## Evaluate Model
The evaluate_model() function  provides a detailed analysis of the chosen model's performance, including visualizations and metrics.

In [78]:
evaluate_model(best_model )

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

## Predict on Test Set
In this part, the model will be tested on data that it was not trained on, which represents 20% of the data

With a small Mean Absolute Error (MAE), it meaning the average difference between predicted and actual values is minimal and the model predicts PPV values ​​excellently.

In [79]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
test = predict_model(best_model)
print("MAE(Mean Absolute Error): ", mean_absolute_error(test['PPV'], test['prediction_label']))
print("RMSE(Mean Squared Error): ", mean_squared_error(test['PPV'], test['prediction_label'], squared=False))
test.head(10)

MAE(Mean Absolute Error):  0.008552081735355807
RMSE(Mean Squared Error):  0.02789045343241796

c:\Users\H.P\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning:

'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.

      Gender  Age  Dur        PPV  prediction_label
4560  Female   43   32  19.737616         19.771211
1564    Male   35   11   9.445037          9.443396
1645    Male   37    1   1.000000          1.000000
3355  Female   18   11   9.482568          9.482660
652     Male   16   40  23.248060         23.241538
4034  Female   31   40  22.924696         22.934663
1617    Male   36   18  13.872947         13.868043
4887  Female   53   24  15.931975         15.904194
1267    Male   29    8   7.199136          7.199047
3222  Female   15   22  16.252451         16.252783

## Predict on Data

In [80]:
new_df = df.copy().drop('PPV', axis=1)
predictions = predict_model(best_model, data=new_df)
print("Data with prediction PPV")
predictions.head()

Data with prediction PPV

  Gender  Age  Dur  prediction_label
0   Male    0   20         15.198438
1   Male    0   21         15.741014
2   Male    0   22         16.267189
3   Male    0   23         16.777449
4   Male    0   24         17.272268

In [81]:
print("Data with orginal PPV")
df.head()

Data with orginal PPV

  Gender  Age  Dur        PPV
0   Male    0   20  15.198437
1   Male    0   21  15.741015
2   Male    0   22  16.267189
3   Male    0   23  16.777448
4   Male    0   24  17.272269

## Save the Model
We save the model to use it later without need to training it again

In [82]:
save_model(best_model, 'TG_T_CashValues_Rel_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Age', 'Dur'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Gender'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  TransformerWrapper(include=['Gender'],
                                     transformer=OrdinalEncoder(cols=['Gender'],
                                                                handle_missing='return_nan',
                                                                mapping=[{'col': 'Gender',
                                                                          'data_type': dtype('O'),
                                                                          'mapping': Female    0
 Male      1
 NaN      -1
 dtype: int64}]))),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=100))]),
 'TG_T_CashValues_Rel_pipeline.pkl')

## Load the Saved model and Use it

In [83]:
loaded_model = load_model('TG_T_CashValues_Rel_pipeline')
new_data = pd.DataFrame({
    'Gender': ['Male'],
    'Age': [0],
    'Dur': [15.7]
})

predictions = predict_model(loaded_model, data=new_data)
print(predictions)

Transformation Pipeline and Model Successfully Loaded

  Gender  Age   Dur  prediction_label
0   Male    0  15.7         12.633543